<?xml version="1.0"?>
<model>
  <name>bar_counter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Bartender Robot Project</name>
    <email>azmozgame@gmail.com</email>
  </author>

  <description>
    Static bar counter/table (1.2m x 0.6m x 0.9m) that the UR5e is mounted
    on and where the bottle stand and glass are placed.
  </description>
</model>
